<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092115205073-kgigipadesfs1hd24cs8lvu96u9f4j0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092115205073-kgigipadesfs1hd24cs8lvu96u9f4j0q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092115205073-oqrlq3u281nfjblg7udgsvqh17cti6eu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBP2zJYR8p42VPpEfy7IneK7JmfCCds3xs</string>
	<key>GCM_SENDER_ID</key>
	<string>1092115205073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientApp</string>
	<key>PROJECT_ID</key>
	<string>stadium-booking-854aa</string>
	<key>STORAGE_BUCKET</key>
	<string>stadium-booking-854aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092115205073:ios:1c180771a5929075b46ef0</string>
</dict>
</plist>